body{
     font-family: "Fraunces";
     margin: 0%;
}
.name {
    color: rgb(255, 179, 38);
    font-size: 60px;
}
.topdiv{
    width: 60%;
    display: flex;
    padding: 3%;
    background-image: url(image/exp-bg.png);
    background-repeat: no-repeat;
    
    
}
.topdiv img{
    width: 400%;
}
